@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- Hero Section -->
<div class="spa-heading" style="">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4>Hotel Cinema</h4>
                <h2>Amazing Prices &amp; More</h2>
                <div class="border-button"><a href="about.html">Discover More</a></div>
            </div>
        </div>
    </div>
</div>

<!-- Services Start -->
<div class="container-fluid bg-light service py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3">Services</h5>
            <h1 class="mb-0">Our Services</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-6">
                <div class="row g-4">
                    <div class="col-12">
                        <div class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 pe-0">
                            <div class="service-content text-end">
                                <h5 class="mb-4">Holistic Wellness Experience</h5>
                                <p class="mb-0">
                                    Our hotel spa offers a comprehensive wellness experience designed to rejuvenate your mind, body, and spirit. Our extensive range of treatments includes therapeutic massages, revitalizing facials, and 
                                    luxurious body scrubs, each tailored to meet your specific needs
                                </p>
                            </div>
                            <div class="service-icon p-4">
                                <i class="fa fa-globe fa-4x text-primary"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="service-content-inner d-flex align-items-center  bg-white border border-primary rounded p-4 pe-0">
                            <div class="service-content text-end">
                                <h5 class="mb-4">Serene and Luxurious Environment</h5>
                                <p class="mb-0">
                                    The serene ambiance of our spa is meticulously crafted to promote relaxation and well-being. Our modern and elegant facilities feature calming decor, soft lighting, and soothing music, 
                                    creating a sanctuary where you can unwind and de-stress
                                </p>
                            </div>
                            <div class="service-icon p-4">
                                <i class="fa fa-hotel fa-4x text-primary"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row g-4">
                    <div class="col-12">
                        <div class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 ps-0">
                            <div class="service-icon p-4">
                                <i class="fa fa-globe fa-4x text-primary"></i>
                            </div>
                            <div class="service-content">
                                <h5 class="mb-4">Personalized Wellness Programs</h5>
                                <p class="mb-0">
                                    We believe in offering personalized wellness programs tailored to the individual needs of our guests. Our experienced therapists and wellness experts work with you to create a customized spa experience 
                                    that addresses your specific concerns and goals
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 ps-0">
                            <div class="service-icon p-4">
                                <i class="fa fa-hotel fa-4x text-primary"></i>
                            </div>
                            <div class="service-content">
                                <h5 class="mb-4">Complementary Wellness Amenitiess</h5>
                                <p class="mb-0">
                                    In addition to our spa treatments, we offer a range of complementary wellness amenities designed to enhance your overall experience. Our state-of-the-art fitness center, complete with modern equipment and personal trainers, 
                                    allows you to maintain your fitness routine while traveling
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
