<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="img/favicon.png" type="img/png">
        <title>Hotel Management</title>
        <!-- main css -->
        <link rel="stylesheet" href="~/css/Style.css">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    </head>
    <body>
        <!-- Navbar & Hero Start -->
        <div class="container-fluid nav-bar sticky-top px-4 py-2 py-lg-0">
            <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
                <a href="" class="navbar-brand p-0">
                <h1 class="display-6 text-dark"><i class="fas fa-hotel text-primary me-3"></i>Hotel</h1>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav mx-auto py-0">
                        <a class="nav-item nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        <a class="nav-item nav-link" asp-area="" asp-controller="Employees" asp-action="Index">Employees</a>
                        <a class="nav-item nav-link" asp-area="" asp-controller="Restaurants" asp-action="Index">Restaurant</a>
                        <a class="nav-item nav-link" asp-area="" asp-controller="Cinemas" asp-action="Index">Cinema</a>
                        <a class="nav-item nav-link" asp-area="" asp-controller="Retreat" asp-action="Index">Spa</a>
                        <a class="nav-item nav-link" asp-area="" asp-controller="Outdoors" asp-action="Index">Outdoor Activities</a>
                        <a class="nav-item nav-link" asp-area="" asp-controller="Kids" asp-action="Index">Kids Play Area</a>
                        <a class="nav-item nav-link" asp-area="" asp-controller="Blog" asp-action="Index">Blogs</a>
                        <a class="nav-item nav-link" asp-area="" asp-controller="Contact" asp-action="Index">Contact</a>
                    </div>
                </div>
            </nav>
        </div>

    @RenderBody()

    <!-- Footer Section -->
    <footer class="footer text-center text-lg-start">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 mb-4">
                    <p>Experience luxury and comfort at our hotel. Our dedicated staff ensures a memorable stay for you and your loved ones.</p>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <h5 class="text-uppercase">Quick Links</h5>
                    <ul class="list-unstyled">
                        <h5 class="text-uppercase">Follow Us</h5>
                        <a href="#" class="me-3 text-reset"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="me-3 text-reset"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="me-3 text-reset"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="text-reset"><i class="fab fa-youtube"></i></a>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <h5 class="text-uppercase">Contact Us</h5>
                    <p>
                        <i class="fas fa-map-marker-alt"></i> 123 Hotel St, Cape Town<br>
                        <i class="fas fa-phone"></i> +123 456 7890<br>
                        <i class="fas fa-envelope"></i> info@hotel.com
                    </p>
                    <h5 class="text-uppercase">Follow Us</h5>
                    <a href="#" class="me-3 text-reset"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="me-3 text-reset"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="me-3 text-reset"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="text-reset"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>

        <div class="text-center py-3">
            <p>&copy; 2024 Hotel Management. All Rights Reserved.</p>
        </div>
    </footer>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>

