@model HotelManagement.Models.PlayArea

<!-- Create -->
<div class="reservation-form">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading text-center">
                    <h2>Create</h2>
                </div>
            </div>
            <div class="col-lg-12">
                <form id="reservation-form" asp-action="Create">
                    <div class="row">
                        <div class="col-lg-12">
                            <h4>Book Kids<em>Play Activities</em> Through This <em>Form</em></h4>
                        </div>
                        <div class="col-lg-6">
                            <fieldset>
                                <label asp-for="GuardianName" class="form-label">Guardian Name</label>
                                <input asp-for="GuardianName" class="form-control" autocomplete="on" required />
                                <span asp-validation-for="GuardianName" class="text-danger"></span>
                            </fieldset>
                        </div>
                        <div class="col-lg-6">
                            <fieldset>
                                <label asp-for="BookingTime" class="form-label">Booking Time</label>
                                <input asp-for="BookingTime" type="datetime-local" class="form-control" required />
                                <span asp-validation-for="BookingTime" class="text-danger"></span>
                            </fieldset>
                        </div>
                        <div class="col-lg-6">
                            <fieldset>
                                <label asp-for="NumberOfChildren" class="form-label">Number of Children</label>
                                <input asp-for="NumberOfChildren" type="number" class="form-control" required />
                                <span asp-validation-for="NumberOfChildren" class="text-danger"></span>
                            </fieldset>
                        </div>
                        <div class="col-lg-6">
                            <fieldset>
                                <label asp-for="Confirmed" class="form-label">Confirmed</label>
                                <input asp-for="Confirmed" type="checkbox" class="form-check-input" />
                                <span asp-validation-for="Confirmed" class="text-danger"></span>
                            </fieldset>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <fieldset>
                                    <button type="submit" class="tertiary-button">Make a Kids Play Date</button>
                                </fieldset>
                            </div>
                            <div class="col-lg-6">
                                <fieldset>
                                    <a asp-action="Index" class="secondary-button">Back to Play Area</a>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
