@{
    Layout = null;
 }

<!DOCTYPE html>

<html>
    <head>
        <title>Welcome</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="~/css/Style.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    </head>
    <body>
        <div class="welcome-wrapper">
           <!-- ***** Header Area Start ***** -->
        <div class="container-fluid nav-bar sticky-top px-4 py-2 py-lg-0">
            <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
                <a href="" class="navbar-brand p-0">
                    <h1 class="display-6 text-dark"><i class="fas fa-hotel text-primary me-3"></i>Hotel</h1>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav mx-auto py-0">
                        <a class="nav-item nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        <a class="nav-item nav-link" asp-area="" asp-controller="Contact" asp-action="Index">Contact</a>
                    </div>
                </div>
            </nav>
        </div>
        
        
            <!-- ***** Welcome Area Start ***** -->
            <section class="welcome-area bg-img bg-overlay">
                <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-center">
                        <div class="col-12 col-md-10">
                            <div class="hero-content">
                                <h2>Discover places near you</h2>
                                <h4>This is the best guide for your vacation journey</h4>
                            </div>
                            <!-- Hero Search Form -->
                            <div class="hero-search-form">
                            <!-- Tabs -->
                                <div class="nav nav-tabs" id="heroTab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-places-tab" data-toggle="tab" href="#nav-places" role="tab" aria-controls="nav-places" aria-selected="true">Places</a>
                                </div>
                                <!-- Tabs Content -->
                                <div class="tab-content" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="nav-places" role="tabpanel" aria-labelledby="nav-places-tab">
                                        <h6>What are you looking for?</h6>
                                        <form action="#" method="get">
                                            <select class="custom-select">
                                                <option selected>Your Destinations</option>
                                                <option value="1">New York</option>
                                                <option value="2">Latvia</option>
                                                <option value="3">Dhaka</option>
                                                <option value="4">Melbourne</option>
                                                <option value="5">London</option>
                                            </select>
                                            <select class="custom-select">
                                                <option selected>All Catagories</option>
                                                <option value="1">Catagories 1</option>
                                                <option value="2">Catagories 2</option>
                                                <option value="3">Catagories 3</option>
                                            </select>
                                            <select class="custom-select">
                                                <option selected>Price Range</option>
                                                <option value="1">$100 - $499</option>
                                                <option value="2">$500 - $999</option>
                                                <option value="3">$1000 - $4999</option>
                                            </select>
                                            <button type="submit" class="welcome-btn"><i class="fa fa-search pr-2" aria-hidden="true"></i> Search</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Category Area -->
            <section class="category-area">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="all-categories">
                                <div class="row">
                                    <!-- Single Category Area -->
                                    <div class="col-12 col-sm-6 col-md">
                                        <div class="single-category-area wow fadeInUpBig" data-wow-delay="0.2s">
                                            <div class="category-content">
                                                <img src="img/core-img/icon-1.png" alt="">
                                                <h6 class="welcome-heading">Hotels</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Catagory Area -->
                                    <div class="col-12 col-sm-6 col-md">
                                        <div class="single-category-area wow fadeInUpBig" data-wow-delay="0.4s">
                                            <div class="category-content">
                                                <img src="img/core-img/icon-2.png" alt="">
                                                <h6 class="welcome-heading">Restaurants</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Catagory Area -->
                                    <div class="col-12 col-sm-6 col-md">
                                        <div class="single-category-area wow fadeInUpBig" data-wow-delay="0.6s">
                                            <div class="category-content">
                                                <img src="img/core-img/icon-3.png" alt="">
                                                <h6 class="welcome-heading">Outdoor Activities</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Catagory Area -->
                                    <div class="col-12 col-sm-6 col-md">
                                        <div class="single-category-area wow fadeInUpBig" data-wow-delay="0.8s">
                                            <div class="category-content">
                                                <img src="img/core-img/icon-4.png" alt="">
                                                <h6 class="welcome-heading">Beauty &amp; Spa</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Catagory Area -->
                                    <div class="col-12 col-md">
                                        <div class="single-category-area wow fadeInUpBig" data-wow-delay="1s">
                                            <div class="category-content">
                                                <img src="img/core-img/icon-5.png" alt="">                                       
                                                <h6 class="welcome-heading">Cinema</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </body>
</html>
