@{
    Layout = null;
 }

<!DOCTYPE html>

<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="~/css/Hotel.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    </head>
    <body>
        <div class="welcome-wrapper">
           <!-- ***** Header Area Start ***** -->
            <header class="header_area" id="header">
                <div class="container-fluid h-100">
                    <div class="row h-100">
                        <div class="col-12 h-100">
                            <nav class="h-100 navbar navbar-expand-lg">
                                <a class="navbar-brand" href="index.html"><img src="img/core-img/logo.png" alt=""></a>
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dorneNav" aria-controls="dorneNav" aria-expanded="false" aria-label="Toggle navigation"><span class="fa fa-bars"></span></button>
                                <!-- Nav -->
                                <div class="collapse navbar-collapse" id="dorneNav">
                                    <ul class="navbar-nav mr-auto" id="dorneMenu">
                                    <li class="nav-item active">
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="Contact" asp-action="Index">Contact</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="contact.html">Login</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="contact.html">Register</a>
                                    </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </header>
        
            <!-- ***** Welcome Area Start ***** -->
            <section class="welcome-area bg-img bg-overlay">
                <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-center">
                        <div class="col-12 col-md-10">
                            <div class="hero-content">
                                <h2>Discover places near you</h2>
                                <h4>This is the best guide for your vacation journey</h4>
                            </div>
                            <!-- Hero Search Form -->
                            <div class="hero-search-form">
                            <!-- Tabs -->
                                <div class="nav nav-tabs" id="heroTab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-places-tab" data-toggle="tab" href="#nav-places" role="tab" aria-controls="nav-places" aria-selected="true">Places</a>
                                </div>
                                <!-- Tabs Content -->
                                <div class="tab-content" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="nav-places" role="tabpanel" aria-labelledby="nav-places-tab">
                                        <h6>What are you looking for?</h6>
                                        <form action="#" method="get">
                                            <select class="custom-select">
                                                <option selected>Your Destinations</option>
                                                <option value="1">New York</option>
                                                <option value="2">Latvia</option>
                                                <option value="3">Dhaka</option>
                                                <option value="4">Melbourne</option>
                                                <option value="5">London</option>
                                            </select>
                                            <select class="custom-select">
                                                <option selected>All Catagories</option>
                                                <option value="1">Catagories 1</option>
                                                <option value="2">Catagories 2</option>
                                                <option value="3">Catagories 3</option>
                                            </select>
                                            <select class="custom-select">
                                                <option selected>Price Range</option>
                                                <option value="1">$100 - $499</option>
                                                <option value="2">$500 - $999</option>
                                                <option value="3">$1000 - $4999</option>
                                            </select>
                                            <button type="submit" class="welcome-btn"><i class="fa fa-search pr-2" aria-hidden="true"></i> Search</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Category Area -->
            <section class="category-area">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="all-categories">
                                <div class="row">
                                    <!-- Single Category Area -->
                                    <div class="col-12 col-sm-6 col-md">
                                        <div class="single-category-area wow fadeInUpBig" data-wow-delay="0.2s">
                                            <div class="category-content">
                                                <img src="img/core-img/icon-1.png" alt="">
                                                <h6 class="welcome-heading">Hotels</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Catagory Area -->
                                    <div class="col-12 col-sm-6 col-md">
                                        <div class="single-category-area wow fadeInUpBig" data-wow-delay="0.4s">
                                            <div class="category-content">
                                                <img src="img/core-img/icon-2.png" alt="">
                                                <h6 class="welcome-heading">Restaurants</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Catagory Area -->
                                    <div class="col-12 col-sm-6 col-md">
                                        <div class="single-category-area wow fadeInUpBig" data-wow-delay="0.6s">
                                            <div class="category-content">
                                                <img src="img/core-img/icon-3.png" alt="">
                                                <h6 class="welcome-heading">Outdoor Activities</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Catagory Area -->
                                    <div class="col-12 col-sm-6 col-md">
                                        <div class="single-category-area wow fadeInUpBig" data-wow-delay="0.8s">
                                            <div class="category-content">
                                                <img src="img/core-img/icon-4.png" alt="">
                                                <h6 class="welcome-heading">Beauty &amp; Spa</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Catagory Area -->
                                    <div class="col-12 col-md">
                                        <div class="single-category-area wow fadeInUpBig" data-wow-delay="1s">
                                            <div class="category-content">
                                                <img src="img/core-img/icon-5.png" alt="">                                       
                                                <h6 class="welcome-heading">Cinema</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </body>
</html>
