@{
    ViewData["Title"] = "Home Page";
}
 
<!-- Hero Section -->
<div class="page-heading home-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4>Welcome to All</h4>
                <h2>Step into a world of refined elegance and unparalleled hospitality</h2>
            </div>
        </div>
    </div>
</div>

<!-- About Section -->
<section class="about_history_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d_flex align-items-center">
                <div class="about_content ">
                    <h2 class="title title_color">About Us<br>Mission & Vision</h2>
                    <p>
                        Welcome to The Grand Horizon Hotel, where luxury meets comfort in the heart of the city. Our hotel is dedicated to providing an exceptional guest experience, blending timeless elegance with modern amenities. Each of our beautifully appointed rooms and suites offers a serene retreat, complete with plush furnishings, premium bedding, and breathtaking views.
                    </p>
                    <p>
                        At The Grand Horizon, we understand that every detail matters. Our world-class facilities include a state-of-the-art fitness center, a refreshing outdoor pool, and exquisite dining options that cater to every palate. Whether you're here for business or leisure, our attentive staff is committed to ensuring your stay is seamless and memorable.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <img class="img-fluid" src="img/home/about.jpg" alt="img">
            </div>
        </div>
    </div>
</section>

<!-- Offers Section -->
<section class="offers_area section_gap">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background="">
    </div>
    <div class="container">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h4 class="section-title px-3">What we have to Offer</h4>
            <h2 class="mb-0">Who are in extremely love with eco friendly system.</h2>
        </div>
        <div class="row mb_30">
            <div class="col-lg-4 col-md-6">
                <div class="offers_item">
                    <h4 class="sec_h4"><i class="lnr lnr-dinner"></i>Restaurant</h4>
                    <p class="offer_text">Indulge in a culinary journey at our exquisite restaurant, where our chefs prepare a variety of international and local dishes using the freshest ingredients. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="offers_item">
                    <h4 class="sec_h4"><i class="lnr lnr-bicycle"></i>Cinema</h4>
                    <p class="offer_text">Enjoy a movie night in our state-of-the-art cinema.The perfect place to unwind and catch the latest blockbusters or classic favorites.For a perfect "movie night".</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="offers_item">
                    <h4 class="sec_h4"><i class="lnr lnr-shirt"></i>Gym</h4>
                    <p class="offer_text">Stay active during your stay with us at our fully-equipped gym. Whether you prefer cardio workouts, strength training, or yoga, our modern facilities cater to all fitness levels..</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="offers_item">
                    <h4 class="sec_h4"><i class="lnr lnr-car"></i>Outdoor Activities</h4>
                    <p class="offer_text">Explore the great outdoors with our range of activities. From guided hikes and nature walks to cycling tours and water sports, there's something for everyone.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="offers_item">
                    <h4 class="sec_h4"><i class="lnr lnr-construction"></i>Kids Play Area</h4>
                    <p class="offer_text">Our vibrant kids' play area is designed to keep our youngest guests entertained. With a variety of games, toys, and activities, it's a safe and fun environment for children to play and make new friends. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="offers_item">
                    <h4 class="sec_h4"><i class="lnr lnr-coffee-cup"></i>Pool Area</h4>
                    <p class="offer_text">Dive into relaxation at our stunning pool area. Whether you're looking to swim laps, enjoy a refreshing dip, or simply lounge by the water, our pool is the perfect oasis to soak up the sun in style. </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Rooms Section -->
<div class="our_room section_gap">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mx-auto text-center mb-5" style="max-width: 900px;">
                    <h4 class="section-title px-3">Rooms</h4>
                    <h2 class="mb-0">Space Available for all</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div id="serv_hover" class="room">
                    <div class="room_img">
                        <figure><img src="~/img/home/standard-room.jpg" alt="#" /></figure>
                    </div>
                    <div class="bed_room">
                        <h3>Standard Room</h3>
                        <p>Step into your Standard Room, where simplicity and comfort combine to create a peaceful retreat</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div id="serv_hover" class="room">
                    <div class="room_img">
                        <figure><img src="~/img/home/deluxe-room.jpg" alt="#" /></figure>
                    </div>
                    <div class="bed_room">
                        <h3>Deluxe Room</h3>
                        <p>Welcome to your Deluxe Room, where added space and elegant touches ensure a delightful stay</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div id="serv_hover" class="room">
                    <div class="room_img">
                        <figure><img src="~/img/home/suite.jpeg" alt="#" /></figure>
                    </div>
                    <div class="bed_room">
                        <h3>Suite</h3>
                        <p>Experience the height of luxury in your Suite, where every detail is designed for your utmost comfort</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div id="serv_hover" class="room">
                    <div class="room_img">
                        <figure><img src="~/img/home/executive-room.jpeg" alt="#" /></figure>
                    </div>
                    <div class="bed_room">
                        <h3>Executive Room</h3>
                        <p>Welcome to your Executive Room, a perfect haven for productivity and relaxation, tailored for the discerning traveler</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div id="serv_hover" class="room">
                    <div class="room_img">
                        <figure><img src="~/img/home/family-room.jpg" alt="#" /></figure>
                    </div>
                    <div class="bed_room">
                        <h3>Family Room</h3>
                        <p>Make yourself at home in our Family Room, thoughtfully designed for quality time and shared moments with your loved ones</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div id="serv_hover" class="room">
                    <div class="room_img">
                        <figure><img src="~/img/home/penthouse-room.jpeg" alt="#" /></figure>
                    </div>
                    <div class="bed_room">
                        <h3>Penthouse</h3>
                        <p>Indulge in the ultimate luxury of our Penthouse, offering stunning views and exquisite amenities for an unforgettable stay</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Restaurants Section -->
<section id="restaurant" class="restaurant section_gap">
    <div class="container" data-aos="fade-up">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h4 class="section-title px-3">Restaurants</h4>
            <h2 class="mb-0">Popular Restaurants</h2>
        </div>
        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                <div class="about-img">
                    <img src="img/home/res.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1">
                <h3 class="res_title">Step into our hotel restaurant and embark on a culinary journey designed to tantalize your taste buds.</h3>
                <p class="fst-italic res_text">
                    Welcome to the culinary heart of our hotel, a place where flavors dance and every meal is an experience to remember.
                </p>
                <p class="res_text">
                    We believe in the power of good food to bring people together, and every meal here is a testament to that belief.

                    Here's what you can look forward to:
                </p>
                <ul class="res_text">
                    <li><i class="bi bi-check-circle"></i><b>Farm-to-table freshness:</b> We partner with local farmers and suppliers to bring you the freshest seasonal produce..</li>
                    <li><i class="bi bi-check-circle"></i><b>Exquisite flavors:</b> Our menu features a blend of traditional and contemporary dishes, designed to cater to diverse palates.</li>
                    <li><i class="bi bi-check-circle"></i><b>Elegant presentation:</b>Each dish is meticulously plated, ensuring it is a feast for the eyes as well as the taste buds.</li>
                </ul>
                <p class="res_text">
                    We invite you to relax, unwind, and savor every moment at our restaurant. Whether you're here for a casual meal, a special occasion, or simply to enjoy good company and great food, 
                    our attentive staff is here to ensure your experience is nothing short of exceptional. Welcome, and bon appétit!                   
                    <a class="read-more" title="Book a Table" asp-area="" asp-controller="Restaurants" asp-action="Index">
                        Book a Table
                    </a>
                </p>               
            </div>
        </div>
    </div>
</section>

<!-- Outdoors Section -->
<section class="gallery section_gap">
    <div class="container" data-aos="fade-up">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h4 class="section-title px-3">Outdoor Activities</h4>
            <h2 class="mb-0">Special Activities</h2>
        </div>
        <div class="row g-0">
            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a class="gallery-lightbox" data-gall="gallery-item" asp-area="" asp-controller="Outdoors" asp-action="Index">
                        <img src="~/img/outdoors/birds.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a class="gallery-lightbox" data-gall="gallery-item" asp-area="" asp-controller="Outdoors" asp-action="Index">
                        <img src="~/img/outdoors/picnic.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a class="gallery-lightbox" data-gall="gallery-item" asp-area="" asp-controller="Outdoors" asp-action="Index">
                        <img src="~/img/outdoors/canoeing.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a class="gallery-lightbox" data-gall="gallery-item" asp-area="" asp-controller="Outdoors" asp-action="Index">
                        <img src="~/img/outdoors/botanical.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a class="gallery-lightbox" data-gall="gallery-item" asp-area="" asp-controller="Outdoors" asp-action="Index">
                        <img src="~/img/outdoors/fishing.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a class="gallery-lightbox" data-gall="gallery-item" asp-area="" asp-controller="Outdoors" asp-action="Index">
                        <img src="~/img/outdoors/golf.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a class="gallery-lightbox" data-gall="gallery-item" asp-area="" asp-controller="Outdoors" asp-action="Index">
                        <img src="~/img/outdoors/hiking.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a class="gallery-lightbox" data-gall="gallery-item" asp-area="" asp-controller="Outdoors" asp-action="Index">
                        <img src="~/img/outdoors/yoga.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Other Offers -->
<div class="background section_gap">
    <div class="centering">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3">Other Offers</h5>
            <p>Feel free to browse through all the other services we have to offer</p>
        </div>
        <div class="articles">
            <article>
                <figure>
                    <img src="~/img/home/cinema-offer.jpg"
                         alt="Preview">
                </figure>
                <div class="article-preview">
                    <h2>Cinema</h2>
                    <p>
                        Sit back, relax, and let us transport 
                        you to worlds of adventure, romance, 
                        and excitement on the big screen. 
                        With state-of-the-art sound and visuals, 
                        and a wide selection of the latest blockbusters 
                        and timeless classics
                        <a class="read-more" title="Read More" asp-area="" asp-controller="Cinemas" asp-action="Index">
                            Read more
                        </a>
                    </p>
                </div>
            </article>
            <article>
                <figure>
                    <img src="~/img/home/spa-offer.jpeg"
                         alt="Preview">
                </figure>
                <div class="article-preview">
                    <h2>Spa</h2>
                    <p>
                        Immerse yourself in our luxurious treatments 
                        designed to soothe the mind, body, and soul. 
                        Let our expert therapists pamper you with the 
                        finest therapies, leaving you refreshed, revitalized, 
                        and ready to face the world anew.
                        <a class="read-more" title="Read More" asp-area="" asp-controller="Retreat" asp-action="Index">
                            Read more
                        </a>
                    </p>
                </div>
            </article>
            <article>
                <figure>
                    <img src="~/img/home/kids-offer.jpeg"
                         alt="Preview">
                </figure>
                <div class="article-preview">
                    <h2>Kids Play Area</h2>
                    <p>
                        Our vibrant and safe environment is packed 
                        with thrilling activities and engaging play 
                        structures designed to spark imagination and 
                        endless fun. Whether it's climbing, sliding, 
                        or exploring, there's something here for every 
                        child to enjoy.
                        <a class="read-more" title="Read More" asp-area="" asp-controller="Kids" asp-action="Index">
                            Read more
                        </a>
                    </p>
                </div>
            </article>
        </div>
    </div>
</div>

<!-- Payment Plans -->
<section class="landing-page-section">
    <div class="mx-auto text-center mb-5" style="max-width: 900px;">
        <h5 class="section-title px-3">Packages</h5>
        <h1 class="mb-0">Package Options</h1>
    </div>
    <div class="pricing-container">
        <article class="pricing-card pricing-card--primary">
            <h3>The Standard Package</h3>
            <div class="pricing-card__price">
                <img class="img-fluid w-100 rounded-top" alt="Price" src="~/img/home/package01.jpeg">
            </div>
            <ul>
                <li>
                    The Standard Package includes all benefits mentioned below: 👇🏼
                </li>
                <li>
                    Affordable pricing, perfect for budget-conscious travelers
                </li>
                <li>
                    Daily housekeeping services to ensure rooms are clean and tidy
                </li>
                <li>
                    Flexible booking options with the ability to modify or cancel reservations as needed
                </li>
                <li>
                    24-hour front desk assistance for any inquiries or assistance guests may require
                </li>
                <li>
                    Convenient location close to local attractions, restaurants, and public transportation
                </li>
            </ul>
        </article>
        <article class="pricing-card pricing-card--primary">
            <h3>The Deluxe Package</h3>
            <div class="pricing-card__price">
                <img class="img-fluid w-100 rounded-top" alt="Price" src="~/img/home/package02.jpeg">
            </div>
            <ul>
                <li>
                    The Deluxe Package includes all benefits below: 👇🏼
                </li>
                <li>
                    Luxurious accommodations with upgraded amenities for a more indulgent experience
                </li>
                <li>
                    Access to additional hotel services such as room service and concierge assistance
                </li>
                <li>
                    Priority check-in and late checkout options, subject to availability
                </li>
                <li>
                    Exclusive access to VIP lounges or club rooms, depending on availability
                </li>
                <li>
                    Plush bedding and premium linens for a restful night's sleep
                </li>
            </ul>
        </article>
        <article class="pricing-card pricing-card--primary">
            <h3>The Family Package</h3>
            <div class="pricing-card__price">
                <img class="img-fluid w-100 rounded-top" alt="Price" src="~/img/home/package03.jpeg">
            </div>
            <ul>
                <li>
                    The Family Package includes all benefits mentioned below: 👇🏼
                </li>
                <li>
                    Spacious family rooms with multiple beds to accommodate parents and children comfortably
                </li>
                <li>
                    Complimentary breakfast buffet for all guests, ensuring a hearty start to the day
                </li>
                <li>
                    Discounted or complimentary meals for children under a certain age
                </li>
                <li>
                    Family-friendly activities or excursions organized by the hotel concierge
                </li>
                <li>
                    Special amenities for children, such as welcome gifts or activity packs
                </li>
            </ul>
        </article>
    </div>
</section>

@* <div class="container section_gap">
    <div class="mx-auto text-center mb-5" style="max-width: 900px;">
        <h5 class="section-title px-3">Pricing</h5>
        <h1 class="mb-0">Pricing Plans</h1>
    </div>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Free</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>10 users included</li>
                        <li>2 GB of storage</li>
                        <li>Email support</li>
                        <li>Help center access</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Pro</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$15<small class="text-muted fw-light">/mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>20 users included</li>
                        <li>10 GB of storage</li>
                        <li>Priority email support</li>
                        <li>Help center access</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-primary">Get started</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
                <div class="card-header py-3 text-white bg-primary border-primary">
                    <h4 class="my-0 fw-normal">Enterprise</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$29<small class="text-muted fw-light">/mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>30 users included</li>
                        <li>15 GB of storage</li>
                        <li>Phone and email support</li>
                        <li>Help center access</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-primary">Contact us</button>
                </div>
            </div>
        </div>
    </div>

    <h2 class="display-6 text-center mb-4">Compare plans</h2>

    <div class="table-responsive">
        <table class="table text-center">
            <thead>
                <tr>
                    <th style="width: 34%;"></th>
                    <th style="width: 22%;">Free</th>
                    <th style="width: 22%;">Pro</th>
                    <th style="width: 22%;">Enterprise</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" class="text-start">Public</th>
                    <td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                    <td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                    <td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                </tr>
                <tr>
                    <th scope="row" class="text-start">Private</th>
                    <td></td>
                    <td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                    <td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                </tr>
            </tbody>

            <tbody>
                <tr>
                    <th scope="row" class="text-start">Permissions</th>
                    <td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                    <td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                    <td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                </tr>
                <tr>
                    <th scope="row" class="text-start">Sharing</th>
                    <td></td>
                    <td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                    <td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                </tr>
                <tr>
                    <th scope="row" class="text-start">Unlimited members</th>
                    <td></td>
                    <td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                    <td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                </tr>
                <tr>
                    <th scope="row" class="text-start">Extra security</th>
                    <td></td>
                    <td></td>
                    <td><svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                </tr>
            </tbody>
        </table>
    </div>
</div> *@







